body {
    background-color: #041C34;
}

header {
    padding: 20px;
    text-align: center;
    background-color: #041C34;
    color: white;
}
header h1 {
    font-size: 24px;
    color: white;
}

nav {
    background-color: #041C34 ;
    color: white;
}
nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
p {
    color:white;
}